<!DOCTYPE html>
<html>
    <head>
        <title>Terminkalender</title>
    </head>
    <body>
        <table border="1">
            <% for(var i = 0; i < datum.length; i++) { %>
            <tr>

                <!--Anzeigen aller Termine-->
                <td><%= datum[i].id%></td>
                <td><%= datum[i].name%></td>
                <td><%= datum[i].eintrag%></td>
                <td>

                    <!--Termin löschen-->
                    <form action="/delete/<%=datum[i].id%>" method="POST">
                    <button type="submit">Löschen</button>
                    </form>
                </td>

                <td>

                    <!--Termin bearbeiten-->
                    <form action="/update/<%=datum[i].id%>" method="POST">
                    <button type="submit">Bearbeiten</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
        <br>
    </body>
</html>